<!DOCTYPE html>
<html lang="en" >
	<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		 <title>Catana Dashboard ManagedAccount</title>
		<!-- Bootstrap core CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<!-- Bootstrap theme -->
		<link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="assets/css/font-awesome.css" rel="stylesheet">
		<script src="assets/js/jquery-3.1.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-route.min.js"></script>
		<script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>      
        <script src='assets/js/checklist-model.js'></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>		
         <script src="app/angular-socket.js"></script>    
		<script src="app/app.js"></script>
		<script src="env.js"></script>
		<script type="text/javascript" src="https://rawgit.com/sagiegurari/simple-web-notification/master/web-notification.js"></script>
		<script type="text/javascript" src="https://rawgit.com/sagiegurari/angular-web-notification/master/angular-web-notification.js"></script>
		<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>


		
			
	</head>
	<body ng-app="shadownav" style="text-align: center">
    <h1>DASHBOARD</h1>
	
        <div ng-controller="shadownavCtrl">
        
            <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="trader">Catana Capital GmbH</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" ng-submit="authUser()">
            <div class="form-group">
              <input type="text" placeholder="User" name="username" ng-model="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" ng-model="password" class="form-control">
            </div>
            <button type="submit"  class="btn btn-info">Sign in</button>
          </form>
            <div  style = "text-align: right; padding: 8px;" ng-show="IsloggedIn">
           <button ng-click="viewStocks()" class="btn btn-success"> Stocks</button></div>
        </div>
      </div>
    </nav>
    </div>
        
  
   <div ng-show="IsloggedIn" ng-init="refreshAutoConfirm()" class="container">
     <div class="row">
      <div class="col-md-offset-3 col-md-6">
      
          
	      	<h2><strong>Summary</strong></h2>
	      	<table class="table table-bordered table-striped">
	      		<tbody>
	      			<tr><td><strong>NAV</strong></td><td class="nav">{{totalSummaryNav |  currency: "€" }}</td></tr>
	      			<tr><td><strong>Exposure</strong></td><td class="exposureVal">{{exposureVal}}</td></tr>
	      		    <tr><td><strong>P/L Today</strong></td><td ng-mouseover="open = true" ng-mouseleave="open = false" class="gain_loss">{{totPLCashFlow }}% &nbsp;
	      		    	 <form ng-submit="submitForm()" ng-show="open"><input type="text"  ng-model="officialPL" placeholder="Enter Offical P/L"/><br/><br/>
	      		     <button class="btn btn-info btn-with-icon" type="submit"  >Save P/L</button></form> </td></tr>
	      		    <!--td><strong>P/L Today(Using Cash FLow)</strong></td><td class="gain_loss">{{totPLCashFlow }}%</td></tr-->
	      			<tr><td><strong>P/L Weekly</strong></td><td class="weeklyPL">{{weeklyPL}}%</td></tr>
	      			<tr><td><strong>Updated</strong></td><td class="updated_at">{{update_at  | date:'medium' }}</td></tr>
	      			
	      		</tbody>
	      	</table>
      		</div>
      	</div>	
<div class="clearfix"></div>
<!-- div class="row btns-row btns-same-width-lg">
 ng-click="displayCheckBox=!displayCheckBox"
        <div class="col-md-offset-3 col-md-6"><button type="button"  class="btn btn-info btn-with-icon"><i class="ion-information"></i>Show strategies</button>
       </div>
        </div>
   </br>
    	<div class="col-md-3" ng-show="displayCheckBox">  	
		<div ng-repeat="strategy in strategyData">
		
			<li><input type="checkbox"  id="strategy.strategy" ng-model="strategy.strategy" />{{strategy.strategy}}</li>
			
		
		
		</div>	
		
	
	</div-->	
	
	<div class="clearfix"></div>
	<h2><strong>Strategies<button type="button" class="pull-center btn-link btn" ng-click="isStrAutoConfirm=!isStrAutoConfirm ; refreshAutoConfirm()"  >+</button></strong></h2>
	<div class="col-md-3"> 
	 <span class="badge">{{holidayMessage }}</span>


	
	
	</div>


	<div class="col-md-6" style="text-align: center">
	<!-- 	Row 1: Catana DAX Future Wed/Thur (rename pls to Tue/Wed), Catana DAX Intensity, Catana DAX Future Intraday (currently off)
	Row 2: FTSE
	Row 3: DAX SMA, DAX TEMA, FTSE SMA, FTSE TEMA (last two still to come) (Trendfollowing strategies)
	Row 4: Stocks Long, Stocks Neutral
	Row 5: Basis Position (to come), Cash -->
	 	 
	 	  <table  ng-show="isStrAutoConfirm" class="table table-radius table-bordered table-striped">
				 <form ng-submit="submitAutoConfirm()"><button ng-show="isStrAutoConfirm"  class="btn btn-info" style="text-align: left" type="submit" >Save</button></form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				         <br/> <br/>			      
<!--pre>{{selectedItems}}</pre-->
				<thead  style="text-align: center"><tr ><th style="text-align: center">Strategy</th><th style="text-align: center">Auto confirm</th></tr></thead>
				     			<tbody>
				     			
	     			<tr ng-repeat="item in strList">
	     			 <td>{{item.name}}</td>
	     			  <td> <input type="checkbox" ng-model="item.checked" ng-change="check(item, item.checked)"></td>
						     	  
						     </tr>  		     	  
					</tbody>		
		 </table>	
</div>

						<div class="clearfix"></div>

						<div ng-repeat="strategy in strategyData">
						  <!--  For the Strategy Catana Hedging  - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='29'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 			<div class="panel-heading">Catana DM<button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										  				
										    				 <div  ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='29'" >
										    					<strong><p>P/L Today:</strong>  {{ strategy.gain_loss }} </p>
										    					
										    					</div>
										    					
										  				</div>
										    					
										    					
										    					
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
										</div>
						 		</div>
						 
						 </div>								 		 
						 
				
				
				
  				<!--  For the Strategy Catana Stocks Nuetral - to arrange them in order -->
      					  	 
						 
				</div>

				<div class="clearfix"></div>
						<div ng-repeat="strategy in strategyData">
  			
						 <div ng-show = "strategy.strategy">
					  
						 <!--  For the Strategy Catana DAX Future Wed/Thur - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='1'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
						 					 		<div class="panel-heading">DAX SMA 15 + Gold<button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										  				
										  					
										  					
										  				 <div  ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='1'" >
										    					<strong><p>P/L Today:</strong>  {{ strategy.gain_loss }} </p>
										    					
										    					</div>
										    					
										  				</div>
										  					
										  				
										  			
																									    				
										  				</div>
										 				<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
															  		 
							    					             <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
														  
														  
										 				 
														
												</div> 
										</div>
						 </div>
						 </div>	 	
						  <!--  For the Strategy Catana DAX Future Wed/Thur CONTRA - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='22'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">DAX SMA 28 + Gold<button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='22'">
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}}  </p>
										    					
										    					</div>
										    				
										  				</div>
										  				 </div>
										
										 				  <!-- Table -->
														  <table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
																   		   <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
									    					             <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
									    					             <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
									    					             <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
								    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
								    					                 <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
								    					                 <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
								    					                 <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
								    					                 <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
								    					                 <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
								    					                 <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
														 
												</div> 
										</div>
						 </div>
						 
						 						 		 
				</div>		

				<div ng-repeat="strategy in strategyData">
			<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana DAX Future SMA - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='25'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">DAX SMA 20 + Gold <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='25'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    				
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														  <table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														    
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
						 	
						 </div>


<div class="clearfix"></div>

				<div ng-repeat="strategy in strategyData">
						  <!--  For the Strategy Catana Stocks Long   - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='24'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 			<div class="panel-heading">DAX 26 <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='24'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    				
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
										</div>
						 		</div>
						 
						 </div>								 		 
						 
				
				
				
												 		 
						 
				</div>
				<!--END  NEXT ROW  -->

				
<div ng-repeat="strategy in strategyData">
			<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana DAX Future SMA - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='26'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">DAX SMA 30 <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='26'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    				
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														  <table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														    
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
						 	
						 </div>
						 <div ng-repeat="strategy in strategyData">
			<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana DAX Future SMA - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='13'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">DAX SMA <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='13'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    				
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														  <table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														    
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
						 	
						 </div>

				<div class="clearfix"></div>
				
				
				<div ng-repeat="strategy in strategyData">
						  <!--  For the Strategy Catana Hedging  - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id =='18'">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 			<div class="panel-heading">Catana Hedging<button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										  				
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id =='18'">
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    					
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
										</div>
						 		</div>
						 
						 </div>								 		 
						 
				
				
				
  				<!--  For the Strategy Catana Stocks Nuetral - to arrange them in order -->
      					  	 
						 
				</div>

				
				<!--END  NEXT ROW --HEDGING -->
				
<div class="clearfix"></div>
			
				<div ng-repeat="strategy in strategyData">
				<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana FTSE Future(Changed to EURUSD) - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id == '99'" class="column">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading"> A.I. EUR / USD (test) <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div ng-if="strategy.strategy_id == '99'"  >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    					
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
												 		 
						 
				</div>
				<div ng-repeat="strategy in strategyData">
				<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana FTSE Future(Changed to EURUSD) - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id == '97'" class="column">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">IB TEST TRADER 3<button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div  ng-if="strategy.strategy_id == '97'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    					
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
												 		 
						 
				</div>
				<div ng-repeat="strategy in strategyData">
				<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana FTSE Future(Changed to EURUSD) - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id == '98'" class="column">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading">IB TEST TRADER <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div  ng-if="strategy.strategy_id == '98'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    					
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
												 		 
						 
				</div>

				<div ng-repeat="strategy in strategyData">
				<!-- NEXT ROW  -->
				
  				<!--  For the Strategy Catana FTSE Future(Changed to EURUSD) - to arrange them in order -->
      					  <div ng-if="strategy.strategy_id == '94'" class="column">
      	
							      	<div class="col-md-3">
							     		 <div class="panel panel-default">
							  				<!-- Default panel contents -->
							 					 		<div class="panel-heading"> Catana External Orders Test <button type="button" class="pull-center btn-link btn" ng-click="isActive=!isActive">+</button></div>
										  				<div class="panel-body">
										    			
										    				<div ng-repeat="strategy in dailyPandLDAX">
										  				 <div  ng-if="strategy.strategy_id == '94'" >
										    					<strong><p>P/L Today:</strong>  {{strategy.gain_loss}} </p>
										    					
										    					</div>
										    				
										  				</div>
										  				</div>
										
										 				 <!-- Table -->
														<table   ng-show="isActive"  class="table table-condensed table-striped table-hover strategy_{{strategy.strategy_id}}">
														   
							    					           	  <tr><td ><strong> allocation </strong></td><td>{{strategy.allocation*100}}%</td>
							    					              <tr><td ><strong> cash </strong></td><td>{{strategy.cash |currency  : "€"}}</td>
							    					               <tr><td ><strong> currency </strong></td><td>{{strategy.currency}}</td>
							    					                <tr><td ><strong> eur_value </strong></td><td>{{strategy.eur_value |currency  : "€"}}</td>
							    					                 <tr><td ><strong> trader </strong></td><td>{{strategy.trader}}</td>
							    					                  <tr><td ><strong> nav </strong></td><td>{{strategy.nav |currency  : "€" }}</td>
							    					                   <tr><td ><strong> prev_nav </strong></td><td>{{strategy.prev_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_week_nav</strong></td><td>{{strategy.prev_week_nav |currency  : "€"}}</td>
							    					                    <tr><td style ="word-break:break-all;"><strong>prev_nav_created_at</strong></td><td><mydate>{{strategy.prev_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</mydate></td>
							    					                  <tr><td style ="word-break:break-all;"><strong> prev_week_nav_created_at </strong></td><td>{{strategy.prev_week_nav_created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td>
							    					                   <tr><td style ="word-break:break-all;"><strong> created_at </strong></td><td>{{strategy.created_at * 1000 | date:'dd.MM.yyyy, HH:mm:ss'}}</td></tr>
														  </table>
												</div>
										</div>
						 </div>
												 		 
						 
				</div>
				<!--END  NEXT ROW  -->
				<div class="clearfix"></div>
					
 
   
            
				
	<div class="clearfix"></div>	
            <div class="container">
      <div class="row">
       
					      	<div class="col-md-12" >
					        	<h2><strong>Current Positions</strong></h2>
					       	  <table  class="table table-radius table-bordered table-striped">
<thead style="text-align: center"><tr ><th style="text-align: center">Strategy</th><th style="text-align: center">Title</th><th style="text-align: center">ID</th><th>Position</th><th style="text-align: center">Size</th><th style="text-align: center" >Open</th><th style="text-align: center">Current</th><th style="text-align: center">Next Stop</th><th style="text-align: center">P/L since Inception</th><th style="text-align: center">P/L today</th><th style="text-align: center">Updated</th></tr></thead>
     			<tbody>
     			

     			<tr style="border: 3px solid #ddd;" id="RETAILrowClick" class="clickableRow" ng-show="stocksRetailPositions" title="Click to collapse/expand details for this Stock" ng-click="isStocksRetailActive=!isStocksRetailActive">
					     <td>   Stocks RETAIL </td>
					     	 <td > Stocks RETAIL Summary</td>
					     	  <td > </td>
					     	  <td > </td>
					     	  <td > </td>					     	   
					     	  <td >{{stocksRetailOpenPrice |currency  : "" }} </td>
					     	  <td >{{stocksRetailCurrentPrice |currency  : ""}} </td>
					     	   <td > </td>
					     	  <td >{{ stocksRetailGainLoss }} </td>
					     	    <td >{{ PandLRetailStok+'%'}}</td>
					     	  <td >{{ }}   </td>
					     </tr>
					      <tr ng-repeat="value in dailyPandLTableRetail" ng-show="(value.strategy =='Catana Retail Strategy' && isStocksRetailActive)">
     						  <td> Stocks RETAIL </td>
					     	 <td >{{value.en }} </td>
					     	  <td >{{value.isin }} </td>
					     	  <td >{{value.position }} </td>
					     	  <td >{{value.size }} </td>
					     	  <td >{{value.open_price |currency  : "" }} </td>
					     	  <td >{{value.current_price |currency  : "" }} </td>
					     	  <td>
	     			         		n/a
	     			          </td>   
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr>


					     	<tr style="border: 2px solid #ddd;padding: 1px;">
						     		<td>    </td>
						     	 <td >  </td>
						     	  <td > </td>
						     	  <td > </td>
						     	  <td > </td>					     	   
						     	  <td > </td>
						     	  <td > </td>
						     	  <td > </td>
						     	  <td > </td>
						     	    <td ></td>
						     	  <td >  </td>
					     	</tr>

					     	<tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id == 29)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>							
					     	   
					     	  <td >{{value.currentPrice|currency  : ""}} </td>

	     			      <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">

	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td> 
	     			  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

     			<tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id == 1)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>							
					     	   
					     	  <td >{{value.currentPrice|currency  : ""}} </td>

	     			      <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">

	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td> 
	     			  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>
     			  <!--tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==3)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	   <td >{{value.currentPrice |currency  : ""}} </td>
					     	   <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: #94191b">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5">
 											{{value.next_stop}}%
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= 0.25 && value.next_stop <= 0" style="color: #94191b">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5">
 											{{value.next_stop}}%
 											</div>
 								</div>
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr-->

					     <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==22)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	  <td >{{value.currentPrice |currency  : ""}} </td>
					     	  <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td>    
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>





     			    <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==24)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	  <td >{{value.currentPrice |currency  : ""}} </td>
					     	  <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
 								 		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

					      <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==25)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	  <td >{{value.currentPrice |currency  : ""}} </td>
					     	   <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 		
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td>   
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

					      <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==26)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	  <td >{{value.currentPrice |currency  : ""}} </td>
					     	  <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 	
	     			         		<div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
 								 		
	     			         		  <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td>    
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>


					       	<!--tr style="border: 3px solid #ddd;" id="MDAXrowClick" class="clickableRow" ng-show="mdaxPositions" title="Click to collapse/expand details for this Strategy" ng-click="isMDAXActive=!isMDAXActive">
					     <td> MDAX Intensity     </td>
					     	 <td > MDAX Intensity Summary </td>
					     	  <td > </td>
					     	  <td > </td>
					     	  <td > </td>					     	   
					     	  <td > </td>
					     	  <td > </td>
					     	  <td ></td>
					     	  <td >{{ summaryPandLMDAXIncep  |number : 2 }}%  </td>
					     	    <td >{{ displaySummaryPandLMDAX |number : 2}}% </td>
					     	  <td >{{ }}   </td>
					     </tr-->
					       <!--tr ng-repeat="value in dailyPandLTable"  ng-show="value.strategy =='Catana Stocks Long' && isStocksActive" >
					 	    	 
					     	  	
					     	 <td>Stocks Long </td>
					     	 <td >{{value.en }} </td>
					     	  <td >{{value.isin }} </td>
					     	  <td >{{value.position }} </td>
					     	  <td >{{value.size }} </td>
					     	  <td >{{value.open_price |currency  : "€" }} </td>
					     	  <td >{{value.current_price |currency  : "€"}} </td>
					     	  <td >{{value.gain_loss }} </td>
					     	   <td >{{value.gain_loss_today }} </td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     	         
					     	  </tr-->
					     
					       <!--tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ===17 && isMDAXActive)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	   <td >{{value.currentPrice |currency  : ""}} </td>
					     	   <td>
	     			         	
	     			         		
	     			          </td>  
					     	  <td >{{value.gain_loss}} </td>
					     	  <td>
					     	  {{(value.gain_loss_today) }} 					     	  
					     	  </td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr>
					      <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ===16 && isMDAXActive)">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	   <td >{{value.currentPrice |currency  : ""}} </td>
					     	   <td>

					     	    <div ng-if="nextStopOfMDAX < 0.5 && nextStopOfMDAX > 0.25" style="color: #ffb90f">
	     			         <strong>{{nextStopOfMDAX}}% </strong>
									</div>
 											<div ng-if="nextStopOfMDAX <= 0.25 && nextStopOfMDAX >= 0" style="color: #94191b">
 											<strong>{{nextStopOfMDAX}}%</strong>
 											</div>
 											<div ng-if="nextStopOfMDAX < 0" style="color: #551A8B">
 											<strong>{{nextStopOfMDAX}}% </strong>
 											</div>
 											<div ng-if="nextStopOfMDAX >= 0.5">
 											{{nextStopOfMDAX}}%
 											</div>
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr-->


					       <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id == 13 && value.positiondata != 'null')">
     						<td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price |currency  : "" }} </td>
					     	   <td >{{value.currentPrice |currency  : ""}} </td>
					     	   <td>
	     			         		
	     			         		 <div ng-if="(value.positiondata.size > 0)">
	     			         		 <div ng-if="((value.next_stop < 0.5 && value.next_stop > 0.25))" style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
 								 <div ng-if="(value.positiondata.size < 0)">
	     			         		 <div ng-if="(value.next_stop > -0.5 && value.next_stop < -0.25) " style="color: #ffb90f">
	     			        			 <strong>{{value.next_stop}}%</strong>
									</div>
 											<div ng-if="value.next_stop >= -0.25 && value.next_stop <= 0" style="color: red;">
 											<strong>{{value.next_stop}}%</strong> 
 											</div>
 											<div ng-if="value.next_stop > 0 && value.next_stop !=100" style="color: #551A8B">
 											<strong>{{value.next_stop}}%</strong>
 											</div>
 											<div ng-if="value.next_stop <= -0.5 && value.next_stop !=100">
 											{{value.next_stop}}%
 											</div>
 											<div ng-if="value.next_stop ==100">
 											n/a
 											</div>
 								</div>
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     </tr>
					    
					     	<!--tr style="border: 3px solid #ddd;" id="rowClick" class="clickableRow" ng-show="stocksLongPositions" title="Click to collapse/expand details for this Stock" ng-click="isStocksActive=!isStocksActive">
					     <td>   Stocks Long  </td>
					     	 <td > Stocks Long Summary</td>
					     	  <td > </td>
					     	  <td > </td>
					     	  <td > </td>					     	   
					     	  <td >{{stocksLongOpenPrice |currency  : "" }} </td>
					     	  <td >{{stocksLongCurrentPrice |currency  : ""}} </td>
					     	   <td > </td>
					     	  <td >{{ stocksLongGainLoss }} </td>
					     	    <td >{{ PandLLongStok+'%'}}</td>
					     	  <td >{{ }}   </td>
					     </tr>
					       <tr ng-repeat="value in dailyPandLTable"  ng-show="value.strategy =='Catana Stocks Long Only' && isStocksActive" >
					 	    	 
					     	  	
					     	 <td>Stocks Long </td>
					     	 <td >{{value.en }} </td>
					     	  <td >{{value.isin }} </td>
					     	  <td >{{value.position }} </td>
					     	  <td >{{value.size }} </td>
					     	  <td >{{value.open_price |currency  : "" }} </td>
					     	<td >{{value.current_price |currency  : ""}} </td>
					     	<td ><div ng-if="value.next_stop < 0.5 && value.next_stop > 0.25" style="color: #ffb90f">
	     			         <strong>{{value.next_stop}}% </strong>
									</div>
 											<div ng-if="value.next_stop <= 0.25 && value.next_stop >= 0" style="color: #94191b">
 											<strong>{{value.next_stop}}% </strong>
 											</div>
 											<div ng-if="value.next_stop < 0" style="color: #551A8B">
 											<strong>{{value.next_stop}}% </strong>
 											</div>
 											<div ng-if="value.next_stop >= 0.5">
 											{{value.next_stop}}%
 											</div> </td>	
					     	  <td >{{value.gain_loss }} </td>
					     	   <td >{{value.gain_loss_today }} </td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} </td>
					     	  
					     	         
					     	  </tr-->

					     	  <tr style="border: 2px solid #ddd;padding: 1px;" >
						     		<td>    </td>
						     	 <td >  </td>
						     	  <td > </td>
						     	  <td > </td>
						     	  <td > </td>	
						     	  <td > </td>				     	   
						     	  <td > </td>
						     	  <td > </td>
						     	  <td > </td>
						     	    <td ></td>
						     	  <td >  </td>
					     	</tr>

					     	
					      <tr ng-repeat="value in strategyName" ng-show="value.positiondata.strategy.indexOf('IB TEST') !== -1">
     						  <td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price }} </td>
					     	  <td >{{value.currentPrice }} </td>
					     	  <td>
	     			         		n/a
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

					     <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id == 94 && value.positiondata != 'null')">
     						  <td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price }} </td>
					     	  <td >{{value.currentPrice }} </td>
					     	  <td>
	     			         		n/a
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

					      <tr ng-repeat="value in strategyName" ng-show="(value.positiondata.strategy_id ==18)">
     						  <td>  {{value.strategyNewName }} </td>
					     	 <td >{{value.positiondata.en }} </td>
					     	  <td >{{value.positiondata.isin }} </td>
					     	  <td >{{value.positiondata.position }} </td>
					     	  <td >{{value.positiondata.size }} </td>
					     	  <td >{{value.positiondata.open_price }} </td>
					     	  <td >{{value.currentPrice }} </td>
					     	  <td>
	     			         	n/a
	     			          </td>  
					     	 <td >{{value.gain_loss}} </td>
					     	    <td>
					     	     {{(value.gain_loss_today) }} 		</td>
					     	  <td >{{value.updated_at* 1000| date:'HH:mm:ss' }} </td>
					     	  
					     </tr>

					     
					     	  
					     <tr style="border: 3px solid #ddd;" class="clickableRow" ng-show="stocksNeutralPositions" title="Click to collapse/expand details for this Stock" ng-click="isStocksNeutralActive=!isStocksNeutralActive">
					      <td>   Stocks Neutral  </td>
					     	 <td > STOCKS NEUTRAL SUMMARY </td>
					     	  <td > </td>
					     	  <td > </td>
					     	  <td > </td>
					     	  <td >{{ stocksNeutralOpenPrice |currency  : "" }} </td>
					     	  <td >{{ stocksNeutralCurrentPrice |currency  : ""}} </td>
					     	  <td >{{stocksNeutralGainLoss }} </td>
					     	    <td >{{ PandLNeutralStok+'%'}}</td>
					     	  <td >{{ }} </td>
					     </tr>
					       <tr ng-repeat="value in dailyPandLTable " ng-show="value.strategy =='Catana Stocks Neutral' && isStocksNeutralActive">
					 	    	 
					     
					     	<td>  Stocks Neutral</td>
					     	 <td >{{value.en }} </td>
					     	  <td >{{value.isin }} </td>
					     	  <td >{{value.position }} </td>
					     	  <td >{{value.size }} </td>
					     	  <td >{{value.open_price |currency  : "" }} </td>
					     	   <td >{{value.next_stop}} </td>
					     	  <td >{{value.current_price |currency  : ""}} </td>
					     	  <td >{{value.gain_loss }} </td>
					     	  <td >{{value.gain_loss_today }} </td>
					     	  <td >{{value.updated_at* 1000 | date:'HH:mm:ss' }} 
					     	  
					     </tr>
					     	
					     
					     	  
				</tbody>
							  </table>	
	  				           </div>
														  
			  		      </div>	
			  		      
			  		      </div>


			  		      </div>			 
  <!-- table class="table table-striped">
    <thead>
    <tr>
     
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
     
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in strategyData">
     						<td>{{data.strategy}}</td>
							<td>{{data.nav}}</td>
							<td>{{data.positions}}</td>

    </tr>
    </tbody>
  </table-->
</div>
<script>
	
	$(document).ready(function(){
    $("#rowClick").click(function(){
        $(this).toggleClass("activly");

    });
      $("#MDAXrowClick").click(function(){
        $(this).toggleClass("MDAXactivly");

    });
       $("#RETAILrowClick").click(function(){
        $(this).toggleClass("Retailactivly");

    });
});
</script>
<style>


	.activly{font-weight:bold}
	.MDAXactivly{font-weight:bold}
	.Retailactivly{font-weight:bold}


 
</style>
     
	</body>
</html>