<html>
<head>
</head>


</html>
        <div class="modal-header">
<h2 class="modal-title"><strong>Order Confirmation</strong></h2>
</div>
<div class="modal-body">

<div> <h2><strong>{{message}} </strong></h2>

 </div>
<div  ng-show="IsloggedInPopUp">
<span><b>List of Orders:</b></span><br/><br/>

<table  class="table table-radius table-bordered table-striped">
 <button class="btn btn-info" style="text-align: left" ng-click="checkAll()">Check all</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info" style="text-align: left" ng-click="uncheckAll()">Uncheck all</button> <br/> <br/>

      

<thead style="text-align: center"><tr ><th style="text-align: center">select</th><th style="text-align: center">Strategy</th><th>Instrument</th><th style="text-align: center">type</th><th style="text-align: center" >Size</th><th style="text-align: center" >reference price</th><th style="text-align: center" >Time</th></tr></thead>
     			<tbody>
     			
     			<tr ng-repeat="order in orderList">
     			  <td> <input type="checkbox" checklist-model="selected.orderList" checklist-value="order"  ng-change="check(order, checked)" /></td>
     						 <td>  {{order.name}} </td>
					     	 <td >{{order.en}} </td>
					     	  <td >{{order.type}} </td>
					     	  <td >{{order.size}} </td>
					     	   <td >{{order.reference_price}} </td>
					     	     <td >{{ AssignedDate | date:'dd.MM.yyyy, HH:mm:ss'}} </td> 
					     	  
					     	  
					     </tr>  
		     	  
				</tbody>							  </table>	
	  				         

        
    </div></div>
<div class="modal-footer">
<div  ng-show="IsloggedInPopUp">
<button class="btn btn-info" type="button"
ng-click="ok()">Send Orders</button>
<!--button class="btn btn-warning" type="button"
ng-click="close()">Deny</button-->
</div>
</div>
    