<!DOCTYPE>
<html>
<head>

  <title>Stock edit for Pre Trade Checks</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.10/angular-route.min.js"></script>
    <script src="app/app.js"></script>
    <script src="env.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-0.14.3.min.js"></script>      
        <script src='assets/js/checklist-model.js'></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>   
        <script src="app/angular-socket.js"></script>    
    <script type="text/javascript" src="https://rawgit.com/sagiegurari/simple-web-notification/master/web-notification.js"></script>
    <script type="text/javascript" src="https://rawgit.com/sagiegurari/angular-web-notification/master/angular-web-notification.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>



</head>
<body ng-app="shadownav">
  <div class="container" ng-controller="pretradeStockEdit">
    <div class="row">
    <div class="row">
    <div class="row">
    
  
<h2 style="text-align:center;"><strong>PRE TRADE CHECK - STOCKS EDIT</strong></h2>

<div class="clearfix"></div>
<table>
    
      <tbody>

    <form name="signalForm" >
    <table class="table" >
      <thead>
        <tr>
    
          <th>NAME</th>
          <th>ISIN</th>
         <th>Action
    </th>
                   
        </tr>
      </thead>
      <tbody>
      
        <tr ng-repeat="lang in stocksList">

          <td ><input type="text" class="form-control" ng-model="lang.name" required="" placeholder="Name"></td>
           <td ><input type="text" class="form-control" ng-model="lang.isin" required="" placeholder="isin"></td>
         
     
<td>
    <button type="button" class="btn btn-success" ng-click="removeRow(lang.isin)">Remove</button>
    </td>

          <!--input class="form-control" ng-model="signal.position" placeholder="BUY, SELL or FLAT"-->

       
         
          
        </tr>
        
      </tbody>
    </table>
<button class="btn btn-success" ng-click="addRow()"  type="submit" >Add row</button>

<button class="btn btn-success" ng-click="submitForm()" type="submit" >Submit</button>            
           <button type="submit"  ng-click="goHome()" class="btn btn-info">Go Back</button>
  </form>
<div class="clearfix"></div>
</br>

 <pre>


 <div>Strategy ID: {{stocksList.name}}  {{stocksList.isin}}</div>

        {{ stocksList | json }}
    </pre>

  </div>
</div>




</body>
</html>
